body {
  font-family: arial, sans-serif;
  background: linear-gradient(#96bff1, #f8fcff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-box {
  background: white;
  width: 320px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.contact-box h1 {
  text-align: center;
  margin-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  margin: 12px 0;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.item span {
  font-size: 20px;
  margin-right: 10px;
}

.item:hover {
  background: #d3e5ff;
  transform: translateX(5px);
}
