.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: #d3e5ff;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	box-sizing: border-box;
	z-index: 1000;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 25px;
}

.nav-links li a {
	color: white;
	text-decoration: none;
	font-size: 16;
	transition: 0.3s;

	background-color: #ccebff;
	padding: 10px 20px;
	border-radius: 20px;
}

.nav-links li a:hover {
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	color: black;
	font-weight: bold;
}


.content {
	padding: 80px 20px;
	background: linear-gradient(#96bff1, #f8fcff);
	color: black;
	text-align: center;
}

.content ul a {
	background-color: #F0FFFF;
	padding: 10px 20px;
	border-radius: 20px;
	color: black;
	font-weight: bold;
}


.logo {
	background-color: #dff4f9;
	color: #b9daee;
	border-radius: 50%;
	font-weight: bold;
	font-size: 20;
	text-shadow: 0 0 7px #b9e1ff, 0 0 21px #c3e8fc;
	padding: 10px;
}

body {
	background-color: #f8fcff;
}
