body {
	font-family: Georgia, sans-serif;
	background-color: #f8fcff;
	text-align: center;
}

h1 {
	margin: 20px;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	padding: 20px;
}

.card {
	background: white;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
	width: 100%;
	border-radius: 5px;
}

.card p {
	margin-top: 10px;
	font-weight: bold;
}